<nav class="navbar navbar-inverse main-page-header" name="MAINPAGE_FT">
    <div class="container-fluid">
        <div class="navbar-header margin-left-15per">
            <span class="header-Icon"><b>The BEACH </b></span>
            <span class="header-tag"> Benefit Eligibility And Coverage Hub</span>
        </div>
        <div class="navbar-header navbar-right margin-right-15per">
            <img class="uhc" src="lib/images/uhc_brand.png" />
        </div>
    </div>
</nav>

<!-- <div class=" col-sm-12 col-md-12 col-lg-12  main-page-content">
    <div class="col-sm-12 col-md-12 col-lg-2">
        <img class= "image-snorkle" src="lib/images/snorkle.png" / >
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8">
    <div class="main-page-login-user">
        <h2>Welcome <%=firstName%> <%=lastName%></h2>
    </div>
    <div class="main-page-desc main-page-desc-first-item">
        The BEACH provides an advanced benefit browser experience for UnitedHealth Group employees who need to access health plan benefit language and other information, including copays, deducitbles and coinsurance values, at a group or member level.
    </div>
    <div class="main-page-desc main-page-desc-first-item">
        Currently, The BEACH only provides benefit eligibility and coverage information for Oxford migrating and new members in the state of Connecticut. Additional information will be made available throughout 2017 and 2018, including accumulators, and for other
        books of business as they migrate to the Cirrus administrative platform.
    </div>
    <div class="main-page-desc main-page-desc-first-item">
        The BEACH offers enhanced search functionality and an easy-to-read display for benefit information. You can quickly and easily navigate via an A-Z list of benefits and expand the window to display a general description as well as in and out-of-network language,
        co-pays, deductibles, etc.
    </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-2"></div>
</div> -->
<div class="mainPageScrollHide">
    <div class="col-sm-12 col-md-12 col-lg-12 beachImage"  >
        <div class="beachImage-inside">
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-8 col-md-8 col-lg-8 foreground" >
                <h2 style="text-align:center">Welcome <%=firstName%> <%=lastName%></h2>
                <p>
                    The BEACH provides an advanced benefit browser experience for UnitedHealth Group employees who need to access health plan benefit language and other information, including copays, deductibles and coinsurance values, at a group or member level.
                </p>
                <p>
                    Currently, The BEACH only provides benefit eligibility and coverage information for Oxford migrating and new members in the state of Connecticut. Additional information will be made available throughout 2017 and 2018, including accumulators, and for other
                    books of business as they migrate to the Cirrus administrative platform.
                </p>
                <p>
                    The BEACH offers enhanced search functionality and an easy-to-read display for benefit information. You can quickly and easily navigate via an A-Z list of benefits and expand the window to display a general description as well as in and out-of-network
                    language, co-pays, deductibles, etc.
                </p>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
        </div>
    </div>
<div class="col-sm-12 col-md-12 col-lg-12 padding-top-1"></div>
<div class=" col-sm-12 col-md-12 col-lg-12 banner-backcolor">
    <div class="col-sm-12 col-md-2 col-lg-2 movement"></div>
    <div class="col-sm-12 col-md-3 col-lg-3 padding-top-1 movement">
        <span><img class="padding-right-1"  src="lib/images/search1.png" /></span>
        <a href="/search" name="BENEFITSEARCH_FT"><span class="font-color font-size-1em">Benefit Search </span> </a>
        <p class="font-12 padding-left-4">
            <span>Search by Group ID, Group Name, Member ID or Member Name.</span><br/>
            <br/> <span>Note: Secure access is required for Member search.</span>
        </p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 padding-top-1 movement">
        <span><img class="padding-right-1" src="lib/images/information.png" /></span>
        <span class="font-color font-size-1em">Access Resources </span>
        <p class="font-12 padding-left-4">
            <span>Have a question?</span> <br/>
            <span style="font-size:10px;">Review the FAQs at the end of the Training Guide for quick answers to common questions.</span><br/>
            <br/> <span>Want a tutorial of the site? View the <a href="http://wiki.optum.com/download/attachments/66052298/The%20BEACH%20User%20Guide.doc?version=1&modificationDate=1495644148822&api=v2"><u>Training Guide.</u></a></span>
        </p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 padding-top-1 movement">
        <span><img class="padding-right-1"  src="lib/images/cloud1.png" /></span>
        <span class="font-color font-size-1em">Provide Feedback </span>
        <p class="font-12 padding-left-4">
            <span>Share your feedback or ideas for improving the BEACH experience.</span><br/>
            <br/> <span> <a href="mailTo:beach@uhc.com"><u>Email us</u></a> today!</span>
        </p>
    </div>
    <div class="col-sm-12 col-md-1 col-lg-1 movement"></div>
</div>
</div>
